<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label>Graduation Year</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Graduation Year</option>
            <option value="other">Others</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
          </select>
        </div>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <div class="field">
          <label>I would describe myself as a...</label>
          <input type="text"
                 placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                 ng-model="user.profile.description">
        </div>

        <div class="field">
          <label>
              What would you like to learn or get out of BlockHack? (optional)
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>
        <div class="field">
          <label>
              Theme For Hackathon? 
          </label>
         <select
            name="theme"
            ng-model="user.profile.theme">
            <option value="">Theme</option>
            <option value="A">Savengy</option>
            <option value="B">VisiLogix</option>
            <option value="C">Codestreet</option>
            <option value="D">Suvidha</option>
            <option value="E">StreetHack</option>
            <option value="O">Open</option>
          </select>
        </div>

        <div class="field">
          <label>
              What's Your Idea ? (You can give links to ppt and documents as well)
          </label>
          <textarea ng-model="user.profile.idea">
          </textarea>
        </div>

        <br>

          <br>

          <div class="divided title"> Skills & Accomplishments </div>

          <div class="field">
            <label> What's your major skill? </label>
            <input type="text"
                   name="study"
                   placeholder="Computer Science, Product Design, Basket Weaving, etc."
                   ng-model="user.confirmation.major">
          </div>

          <div class="field">
            <label> Github </label>
            <input type="text"
                   name="github"
                   placeholder="https://github.com/foobar"
                   ng-model="user.confirmation.github">
          </div>

          <div class="field">
            <label> Twitter </label>
            <input type="text"
                   name="twitter"
                   placeholder="https://twitter.com/foobar"
                   ng-model="user.confirmation.twitter">
          </div>
          <div class="field">
            <label> LinkedIn </label>
            <input type="text"
                   name="linkedin"
                   placeholder="https://in.linkedin.com/in/foobar"
                   ng-model="user.confirmation.linkedin">
          </div>
          <div class="field">
            <label> Skill Sheet (required) </label>
            <p>
              Upload a document outlining any skills or experience you'd like to share (ex. resume). PDF preferred!
            </p>
            <a
              target="_blank"
              href="https://go.hackmit.org/skill-sheets"
              class="ui pink button">
              Upload
            </a>
          </div>

          <br>
          <br>


        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui blue button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
